html {
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

* {
  font-family: 'Poppins', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', 'sans-serif', 'SourceHanSansCN-Regular', 'Microsoft YaHei',
    '微软雅黑' !important;
}

div {
  transition: background-color 0.2s ease;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}

body {
  overflow: hidden;
  box-shadow: 0 0 var(--shadow-size) #00000031;
  margin: var(--shadow-size);
  border-radius: var(--border-radius-size);
  border: var(--border-size) solid var(--frame-bg-color-active);
  height: calc(100vh - (var(--shadow-size) * 2));
  width: calc(100vw - (var(--shadow-size) * 2));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}

#app {
  background-color: var(--frame-bg-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.flexbox {
  display: flex;
  flex: 1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: var(--vs-theme-layout);
}

::-webkit-scrollbar-thumb {
  background: var(--vs-theme-color);
  border-radius: 5px;
}

::-moz-selection {
  background: rgba(37, 100, 255, 0.15);
}

::selection {
  background: rgba(37, 100, 255, 0.15);
}
